header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: #fffaf4;
    z-index: 3;
}

#menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu-logo {
    max-width: 30px;
    width: 100%;
}

#menu-lista {
    display: flex;
    list-style: none;
    gap: 48px;
}

.menu-item a {
    text-decoration: none;
    color: #5a5a47;
    font-weight: 600;
}

.menu-item.active a {
    color: #ff8458;
    border-bottom: 2px solid #b8bd7b;
}

#mobile-btn {
    display: none;
}

#mobile-menu {
    display: none;
}

@media screen and (max-width: 1170px ) {
    #menu-lista {
        display: none;
    }

    .btn-default {
        display: none;
    }
    
    #mobile-btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #mobile-menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile-lista {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }
    
    #mobile-lista .menu-item{
        list-style: none;
        text-align: center;
    }
}


